

/***************         Спецификация         ******************************/
html, body, h1, h2, h3, h4, h5, p, ul { 
  margin: 0; 
  padding: 0; 
  } 
html { 
  font-size: 1em; 
  } 
body { 
  font-family: Arial, Tahoma, sans-serif; 
  } 
a img, :link img, :visited img { 
  border: 0; 
  }
ul, li {
  display: flex;
  list-style: none;;
}
a{
  text-decoration: none;
}
div, header, section, p, a, img, body, html, input, textarea, footer, button{ 
  box-sizing: border-box;
}

body{
  font-family: 'Museo Sans Cyrl';
  height: 100vh;
}
/*
*{
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
*/

.container-calc-out{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;

}